NODE_ENV=
MONGODB_URL=
MONGODB_URL_TESTS=
NEXTAUTH_URL=
NEXTAUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NEXT_PUBLIC_APP_URL=
STRIPE_PK=
STRIPE_SK=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_SUPER_ADMIN_EMAIL=
RESEND_API_KEY=
SENDER_EMAIL=
RESEND_RECEIVER_EMAIL=
SKIP_VERIFY_EMAIL=
OPEN_AI_API_KEY=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_DSN=
SENTRY_AUTH_TOKEN=
